.containerHeader {
    min-height: calc(100vh - 5rem);
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 40%;
        max-width: 500px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #FFF;
        line-height: 120%;
    }

    span {
        font-size: 1rem;
        line-height: 150%;
        color: #FFF;
        margin: 20px 0;
    }

    button {
        background-color: var(--blue-900);
        color: #FFF;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            filter: brightness(1.1)
        }
    }
}

@media (max-width: 650px) {
    .containerHeader {

        img {
            display: none;
        }
    }
}

.divisor {
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: #222;
    border: none;
}

.sectionContent {
    width: calc(100% - 40px);
    margin: 80px auto;
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    section {
        max-width: 500px;
    }

    img {
        width: 40%;
        max-width: 400px;

        @media (max-width: 550px) {
            display: none;
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #FFF;
        line-height: 150%;
        margin-bottom: 20px;
    }

    span {
        color: #999;
        font-weight: 300;
    }
}

.nextLevelContent {
    width: calc(100% - 40px);
    margin: 8rem auto;
    max-width: 1120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    h2 {
        max-width: 700px;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #FFF;

        span {
            color: var(--blue-900);
            font-weight: 900;
            font-size: 2.5rem;
        }
    }

    span {
        margin: 10px 0;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #999;
        margin-bottom: 20px;
    }

    button {
        background-color: var(--blue-900);
        padding: 10px 15px;
        border-radius: 4px;
        color: #FFF;
        text-transform: uppercase;
        transition: all .3s ease;

        &:hover {
            filter: brightness(1.1);
        }
    }


    @media (max-width: 400px) {
        h2 {
            margin: 10px 0;
            font-size: 2rem;
            line-height: 2.5rem;

            span {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

    }
}